.message-list-container {
  .messages-container {
    .message-list {
      height: 421px;
      list-style: none;
      padding: 0;
      overflow: hidden;
      overflow-y: auto;
      overscroll-behavior-y: contain;
      scrollbar-gutter: stable;
    }
  }
}
