.navbar {
  padding: 15px 0 !important;

  .navbar-brand {
    cursor: pointer;

    .navbar-logo {
      height: auto;
      width: 160px;
    }
  }

  .avatar-dropdown-link > .dropdown-toggle::after {
    display: none !important;
  }
}
