@media only screen and (max-width: 991px) {
  .navbar {
    backdrop-filter: blur(9px);

    .navbar-nav .dropdown-menu {
      position: absolute !important;
      right: 0;
    }

    .dropdown-menu[data-bs-popper] {
      left: unset !important;
    }
  }
}
