.message-view-container {
  padding: unset;

  .message-view-header {
    backdrop-filter: blur(9px);
    background-color: rgb(0, 0, 0, 0.1);
    border-radius: 15px 15px 0 0;
    display: flex;
    padding: 15px 15px;
  }
}
