@import '../../exports/constants.scss';

.empty-state-container {
  display: flex;
  flex-direction: column;
  text-align: center;

  .empty-state-color {
    color: $off-white;
  }

  .empty-state-icon-container {
    margin-bottom: 20px;

    span {
      border-radius: 45px;
      font-size: 45px;
      padding: 3px 10px 10px 10px;
    }
  }

  .empty-state-title-container {
    margin-bottom: 5px;
  }
}
