.search-bar-container {
  margin-bottom: 10px;

  .search-bar-input {
    border-radius: 0 15px 15px 0 !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0;
    color: white !important;

    &:focus {
      box-shadow: none;
    }

    &::placeholder {
      color: black;
    }
  }

  .search-bar-input-icon-container {
    border-radius: 15px 0 0 15px;
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0;
    color: black;
  }
}
