@import './exports/constants.scss';

body,
html {
  background: $brand-purple;
  background: -webkit-linear-gradient(
    to right,
    $brand-teal,
    $brand-blue,
    $brand-purple
  );
  background: linear-gradient(
    to right,
    $brand-teal,
    $brand-blue,
    $brand-purple
  );
  height: 100%;
  margin: 0;
  width: 100%;
}

.card-background {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 15px;
  min-height: 500px;
  padding: 10px;
}
