@import './exports/constants.scss';

body,
html {
  background: $brand-light-blue;
  background: -webkit-linear-gradient(
    to bottom,
    $brand-blue,
    $brand-light-blue
  );
  background: linear-gradient(to bottom, $brand-blue, $brand-light-blue);
  height: 100%;
  margin: 0;
  width: 100%;
}

.card-background {
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.4) !important;
  border-radius: 15px;
  min-height: 500px;
}
