.message-container-left-aligned {
  justify-content: flex-start;
}
.message-container-right-aligned {
  justify-content: flex-end;
}

.message-container {
  display: flex;
  margin-bottom: 35px;

  .message-image {
    height: 40px;
    justify-content: center;
    width: auto;

    img {
      height: 40px;
      width: 40px;
    }
  }

  .message-content-left-aligned {
    background-color: #78e08f;
  }
  .message-content-right-aligned {
    background-color: #82ccdd;
  }

  .message-content {
    border-radius: 25px;
    margin: auto 10px;
    max-width: 420px;
    padding: 10px;
    position: relative;

    .message-content-time {
      bottom: -15px;
      color: rgba(255, 255, 255, 0.5);
      font-size: 10px;
      position: absolute;
      width: 120px;
    }

    .message-content-time-left-aligned {
      left: 10px;
    }
    .message-content-time-right-aligned {
      right: 10px;
      text-align: right;
    }
  }
}
